
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html
{
    scroll-behavior: smooth;
    
}

/* css variables */
:root
{

}

.center
{
    text-align: center;
}

/* For Title Section */

#title
{
    border: 2px solid black;
    width: 100%;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.newzbazaar
{
    /* border: 2px solid black; */
    height: 70%;
    width: 500px;
    margin-top: 10px;
    margin-left: 500px;
    color: white;

}

.newzbazaar img
{
    height: 145%;
    margin-top: -12px;
}

/* For navigation bar section */

#navbar
{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#navbar::before
{
    content: "";
    position: absolute;
    background-color: black;
    /* opacity: 0.859; */
    height: 100%;
    width: 100%;
    z-index: -1;
 
}

.container
{
    margin: 0px 70px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.container a
{
    text-decoration: none;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
}

#navbar a:hover
{
    color: rgb(158,127,48);
    /* background-color: rgba(245, 245, 245, 0.836); */
}

.container::before:hover
{
    background-color: gray;   
}

nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
    z-index: 1;
 }
 
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 nav > menu { display:flex; }
 
 nav > menu > menuitem { pointer-events: all; opacity:1; }
 menu menuitem a { white-space:nowrap; display:block; }
    
 menuitem:hover > menu {
    pointer-events:initial;
 }
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:1;
 }
 nav > menu > menuitem menuitem menu {
    transform:translateX(100%);
    top:0; right:0;
 }
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 
 nav { 
    margin-top: 40px;
    margin-left: 40px;
    height: 100px;
 }
 
 nav a {
    background:black;
    /* opacity: 0.859; */
    color:white;
    min-width:220px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:0px 35px;
    box-sizing:border-box;
    border-radius:3px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
    position:relative;
 }
 
 nav a:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }
 
 nav > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-top: 10px solid white;
    left:12px;
    top: -40px;  
 }
 /* nav menuitem > menu > menuitem > a + menu:after{ 
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left:-180px;
    transition: opacity 0.6, transform 0s;
 } */
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }

 /* Section for video */

 #video
 {
     position: relative;
     align-items: center;
     justify-content: center;
 }

 #video::before
 {
    content: "";
    position: absolute;
    background-color: rgb(255,255,240);
    /* opacity: 0.859; */
    height: 100%;
    width: 100%;
    z-index: -7;

 }

 .vid
 {
    position: relative;
     margin-left: 260px;
     /* margin-top: 80px; */
     padding-top: 70px;
     padding-bottom: 50px;
     /* border: 2px solid black; */
     z-index: -5;
 }


 /* Section for Top news */
 #headlines
 {
    position:relative ;
    align-items: center;
    justify-content: center;
    display: flex;
 }

 #headlines::before
 {
   content: "";
   position: absolute;
   background-color: rgb(255,255,240);
   /* opacity: 0.859; */
   height: 100%;
   width: 100%;
   z-index: -7;
 }

 .container-1
 {
    height: 700px;
    width: 600px;
    border: 2px solid black;
    padding: 20px 20px;
    margin: 50px 0px;
    /* display: flex;
    flex-direction: row; */
 }

 #top-news
 {
    width: 800px;
    display: flex;
    flex-direction: column;
    border: none;
 }

 .container-2
 {
    height: 115px;
    width: 100%;
    padding: 10px 2px;
    border-bottom: 2px solid #A68566;
    margin-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    position: relative;
    /* box-shadow: 0px 0px 1.5px 1.5px #A68566; */
    font-family: 'Nanum Myeongjo', serif;
 }

 .container-2:hover
 {
   box-shadow: 0px 0px 7.5px 1px #A68566;
   color: #A68566;
 }

 .even
 {
    display: flex;
    flex-direction: row-reverse;
 }

 .img-news
 {
    /* margin-right: 2px; */
    border: 2px solid none;
    margin-left: 2px;
    height: 100px;
    width:150px;
    margin-top: -4px;
    margin-bottom: 0px;
    border-radius: 15px;
    margin-right: 0px;
    background: url("/IMG/5.News.jpg") center center/cover ;
    opacity: 0.85;
    transition: 0.5s;
 }

 .img-news:hover
 {
    opacity: 1;
 }

 .container-3
 {
    padding: 2px 2px;
    margin: 2px 2px;
    margin-top: 7px;
 }

 .icons
 {
    display: flex;
    position: relative;
    margin: 2px 2px;
    padding: 2px 2px;
    align-items: center;
    justify-content: center;
    margin-right: -500px;

 }
 .icon-even
 {
    display: flex;
    position: relative;
    margin: 2px 2px;
    padding: 2px 2px;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: -500px;
    margin-top: 10px;

 }

 .container-4
 {
    padding: 2px 2px;
    margin-right: 10px;
 }

 .container-4:hover
 {
    
 }

 #btn-1
 {
    align-items: center;
    justify-content: center;
    border: none;
    cursor: unset;
    display: unset;
 }

 #btn-1:hover
 {
    box-shadow: unset;
 }

 .img-more
 {
    margin-left: 330px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.8s;
    padding: 2px 2px;
 }

 .img-more:hover
 {
    background-color: rgba(255, 255, 240, 0.925);
    box-shadow: 0px 0px 4px 4px #A68566;
 }


/* Section for headlines */

#line
{
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   justify-content: center;
   padding: 5px 10px;
   border: none;
   border-left: 4px solid rgb(108,76,53);
}

.box-1
{
   height: 200px;
   width: 100%;
   border: 2px solid black;
   position:relative ;
   align-items: center;
   justify-content: center;
   display: flex;
}
#slideshow-news
{
   height: 300px;
   width: 100%;
   border:none;
   position:relative ;
   align-items: center;
   justify-content: center;
   display: flex;
}

#slideshow-news::before
{
   content: "";
   position: absolute;
   background: url("/IMG/12.GIF") center center/cover;
   /* opacity: 0.859; */
   height: 150%;
   width: 100%;
   z-index: 1;
   margin-top: 15px;
}

#summary
{
   height: 500px;
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   position: relative;
   border: none;
}

#main
{
   height: 100px;
   width: 100%;
   /* border: 1px solid red; */
   background: url("/IMG/6.Headlines.png") center center/cover;
}

.container-5
{
   height: 100px;
   width: 100%;
   /* border: 1px solid red; */
   margin-top: 2px;

}

.hover-underline-animation {
   display: inline-block;
   position: relative;
   color: black;
   font-family: 'Nanum Myeongjo', serif;
   font-size: 15px;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #901E2E;
   transform-origin: bottom right;
   transition: transform 0.45s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }
 
 


 /* Section for subscription */

 #subscription
 {
    position:relative ;
    align-items: center;
    justify-content: center;
    display: flex;

 }

 #subscription::before
 {
   content: "";
   position: absolute;
   background-color: rgb(255,255,240);
   /* opacity: 0.859; */
   height: 100%;
   width: 100%;
   z-index: -8;
 }

 .box-2
 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    /* border: 2px solid black; */
    padding: 20px 20px ;
    margin: 20px 0px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url("/IMG/14.Subscription-bg.png") center center/cover;
    color: rgb(119,198,223);
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;
    font-weight: bolder;
    
 }



 .container-6
 {
    height: 200px;
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
 }

 #btn-2
 {
    height: 100px;
 }

 #btn-2 button
 {
    height: 80%;
    width: 400px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 2px 1px black;
    background-color: rgb(194,171,140);
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    transition: 0.5s;
 }

 #btn-2 button:hover
 {
    background-color: rgb(132,166,153);
 }

 #write
 {
    height: 300px;
 }


 /* Section for national */

 #national
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

 }

 #national::before
 {
   content: "";
   position: absolute;
   background-color: rgb(255,255,240);
   /* opacity: 0.859; */
   height: 100%;
   width: 100%;
   z-index: -7;
   padding: 0px;
 }

 #national-logo
 {
    height: 80px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: rgb(14,63,64);
    /* padding: 10px 10px; */
    align-items: center;
    justify-content: center;
    
 }

 #national-logo img
 {
    height: 100%;
    margin-left: 600px;
 }

 #national-navbar
 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 45px;
    width: 100%;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
 }

 .container-7
 {
    height: 90%;
    width: 150px;
    border: 2px solid green;
    margin-left: 20px;
 }

 #national-home
 {
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .active
 {

 }

 #national-home a
 {
    height: 100%;
    width: 20px;
 }

