
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html
{
    scroll-behavior: smooth;
    
}

/* css variables */
:root
{

}

.center
{
    text-align: center;
}

/* For Title Section */

#title
{
    border: 2px solid black;
    width: 100%;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.newzbazaar
{
    /* border: 2px solid black; */
    height: 70%;
    width: 500px;
    margin-top: 10px;
    margin-left: 500px;
    color: white;

}

.newzbazaar img
{
    height: 145%;
    margin-top: -12px;
}

/* For navigation bar section */

#navbar
{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#navbar::before
{
    content: "";
    position: absolute;
    background-color: black;
    /* opacity: 0.859; */
    height: 100%;
    width: 100%;
    z-index: -1;
 
}

.container
{
    margin: 0px 70px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.container a
{
    text-decoration: none;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
}

#navbar a:hover
{
    color: rgb(158,127,48);
    /* background-color: rgba(245, 245, 245, 0.836); */
}

.container::before:hover
{
    background-color: gray;   
}

nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
    z-index: 1;
 }
 
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 nav > menu { display:flex; }
 
 nav > menu > menuitem { pointer-events: all; opacity:1; }
 menu menuitem a { white-space:nowrap; display:block; }
    
 menuitem:hover > menu {
    pointer-events:initial;
 }
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:1;
 }
 nav > menu > menuitem menuitem menu {
    transform:translateX(100%);
    top:0; right:0;
 }
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 
 nav { 
    margin-top: 40px;
    margin-left: 40px;
    height: 100px;
 }
 
 nav a {
    background:black;
    /* opacity: 0.859; */
    color:white;
    min-width:220px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:0px 35px;
    box-sizing:border-box;
    border-radius:3px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); */
    position:relative;
 }
 
 nav a:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }
 
 nav > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-top: 10px solid white;
    left:12px;
    top: -40px;  
 }
 /* nav menuitem > menu > menuitem > a + menu:after{ 
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left:-180px;
    transition: opacity 0.6, transform 0s;
 } */
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }

 /* Section for video */

 #video
 {
     position: relative;
     align-items: center;
     justify-content: center;
 }

 #video::before
 {
    content: "";
    position: absolute;
    background-color: rgb(255,255,240);
    /* opacity: 0.859; */
    height: 100%;
    width: 100%;
    z-index: -7;

 }

 .vid
 {
    position: relative;
     margin-left: 260px;
     /* margin-top: 80px; */
     padding-top: 70px;
     padding-bottom: 50px;
     /* border: 2px solid black; */
     z-index: -5;
 }


 /* Section for Top nes & headlines */

 #headlines
 {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    align-items: center;
    justify-content: center;
 }

 #headlines::before
 {
   content: "";
   position: absolute;
   background-color: rgb(255,255,240);
   /* opacity: 0.859; */
   height: 100%;
   width: 100%;
   z-index: -7;
 }

 .container-1
 {
    height: 200px;
    width: 200px;
    margin: 100px 0px;
    border: 2px solid black;
 }

 #top-news
 {
    height: 1000px;
    width: 900px;
    margin-left: -200px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
 }

 .container-2
 {
    height: 150px;
    width: 100%;
    border: 2px solid black;
    margin: 10px 0px;
 }

 #line
 {
    height: 800px;
    width: 100px;
    margin-top: 300px;
 }

 #line img
 {
    width: 70px;
    height: 100%;
 }

#headlines
{
   height: 800px;
   /* width: 300px; */
   /* margin-right: -100px; */
   margin-top: 300px;
}